.finale-section {
  width: 100%;
  height: 80vh;
  background-color: #f4f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("layout/background/finale-img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.finale-section h2 {
  font-family: "Helvetica Light";
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
  padding: 4.3rem;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  text-align: center;
  color: #fff;
}
